/* Skin "Simple swiss" by Renat Rafikov */
@import url(http://fonts.googleapis.com/css?family=Cabin);
HTML{
height:200px;
cursor:default;

}
body {
height:200px;
padding:0;
margin:10px;
background:#FDFDFD;
 /* background:#E0FFE2;*/
font-family: 'Cabin', sans-serif;
  font-size:19px;
  /*font-family:arial, sans-serif;*/
}


@font-face {
    font-family: 'vuca';
    src: url('vuca-webfont.eot');
    src: url('vuca-webfont.eot?#iefix') format('embedded-opentype'),
         url('vuca-webfont.woff') format('woff'),
         url('vuca-webfont.ttf') format('truetype'),
         url('vuca-webfont.svg#vuca') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.ttf') format('truetype');
}

input{
font-family: 'Cabin';
    outline: none;
   background: transparent url('images/bg.jpg') no-repeat;
   color : #747862;
   height:20px;
   width:98%;
   border:2px solid;
   border-radius: 2px;
   border-color: #eb4161;
   margin-bottom:3px;
   float:left;

}


a:hover { background:#E0FFE2; color:#434343; text-decoration:none; }
a,a:visited{color:inherit; text-decoration:underline; font-variant:regular;}

li .special{
 color:#fff;
 background:#eb4161; 
 padding-left: 5px; padding-right:5px;  text-decoration:none; font-variant:regular;
 }
 

ul li, ol li {
  padding:0 0 0.2em 0;
}  
.logo{
	font-family:vuca;
  font-weight:normal;
  font-size:31px;
  
  }
  


.container {
background:#E0FFE2;
  max-width:1300px;
  margin:0 auto;
}


.header {
  margin:1em 1% 0 1%;
}

.brandingtop{
  font-family:vuca;
  font-weight:normal;
  font-size:31px;
  
  }

.logo {
    position:relative;
text-align:center;  
display:  display:inline-block;
  color:#383838;
}

.menu_main {
  text-align:middle;
  	
text-align:center;  
display:  display:inline-block;
}

.menu_main li {
  display:inline-block;
  margin:0 0 0 7px;
}

.menu_main li.active,
.menu_main li.active a {

  cursor:default;
}

.info {
  margin:0 1%;
}

.hero {
background-color:#E0FFE2;
  margin:1em 0 2em 0;
  padding:0 0 1em 2%;
}
.hero .col_66 {
  margin-right:1%;
  padding-right:1%;
}

.article {
  background:#E0FFE2;
  padding:1.5em 0 2em 2%;
}

.footer {
  padding:1em 2% 2em 2%;
  color:#565656;
  margin:0 1%;
}

.copyright {
  width:49%;
  float:left;
}

.menu_bottom {
  width:50%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
  color:#565656;
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_bottom a {
  color:#565656;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  color:#565656;
  text-decoration:none;
  cursor:default;
}



h1, h2 {
text-decoration:none;
	font-family:vuca;
  font-weight:normal;
  font-size:16px;
  
}

h3, h4, h5, h6 {
	font-family:vuca;

}


.article .col_33 h2:first-child,
.article .col_50 h2:first-child,
.article .col_66 h2:first-child {
//background: url("wavyline.png") repeat-x bottom;
  padding: 0 0 0m;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
}

button,
.button {
  font-family:Cabin, sans-serif;
  font-size:14px;
  border:0;
  text-align:center; 
  text-decoration:none;
   width:100%;
  -webkit-border-radius:1px;
  border-radius:2px;
  -webkit-box-shadow: #969696 3px 2px 2px;
  /*box-shadow: #969696 0px 2px 6px;*/  
  background:#eb4161;
  background: -webkit-linear-gradient(#eb4161, #ED5471);

  color:#fff;
  padding:3px 15px;
  display:inline-block;
}
button:hover,
.button:hover {
  font-family:Cabin, sans-serif;
  border:0;
  text-align:center; 
  text-decoration:none;
  -webkit-border-radius:1px;
     border-radius:2px;
     -webkit-box-shadow: #969696 1px 1px 2px;
     /*box-shadow: #969696 0px 2px 6px;*/  
     background:#eb4161;
     background: -webkit-linear-gradient(#eb4161, #eb4161);
   
     color:#fff;
     padding:3px 15px;
     display:inline-block;
   }
   button:active{
   
     background:#A42E44;
   
   }
   
   @media only screen and (max-width:480px) { /* Smartphone custom styles */
     .hero .col_66 {
       border-right:0;
       margin-right:2%;
     }
     .header {
       padding: 1em 2% 0;
       margin: 3px 1% 0;
     }
     .hero {
         margin: 0 0 6px;
     }
   }
   
   @media only screen and (max-width:768px) { /* Tablet custom styles */
     .hero .col_66 {
       border-right:0;
       margin-right:2%;
     }
   }
#noBack{
background:#FDFDFD;

}

   table.fixed { 
   background:#E0FFE2;
   font-family: vuca;
   table-layout:fixed;
   width:400px; 
   margin-bottom:20px;
   margin-left:5px;
   margin-right:5px;
   padding-top:1px;
   padding-bottom:5px;
   }
   
   
   table.fixed td { 
   margin:4px;
   height:30px;
   overflow: hidden;
   }
    
   td.qoute{
padding-left:1em;
font-family:Cabin;
font-size:14px;
color:#666;
}

tr.hideable{
}

span.explaination{
font-size:11px;
font-family:Cabin;
}

a.tooltip span {   
    font-family:Cabin;
    font-color:#fff;
    font-size:16px;
    display:none;    
    padding:5px 5px;    
    margin-left:3px; 
    margin-top:10px;   
    line-height:150%;
    text-align:left;
}   

input.cypher{
border:none;
overflow:hidden;
cursor:default;
padding-left:1em;
font-size:14px;
color:#eb4161;
}
  
a.tooltip:hover span{   
    width:80%;
left:10px;
    display:inline;    
    position:absolute;    
    background:#E0FFE2;    
    border:2px solid #eb4161;    
    color:#000;
}
a.tooltip img{
opacity:0.4;
width:15px;
height:15px;
float:right;
}

.left {text-align:left;
float:left;}
.right {text-align:right;
float:right;
}
